__pycache__                                                                                                                                                                                   
.spec.md.kate-swp  

